.toggle-heatmap {
    position: absolute !important;
    z-index: 9;
    left: 30px;
    top: 30px;
}

.toggle-icons {
    position: absolute !important;
    z-index: 9;
    left: 150px;
    top: 30px;
}